@charset "utf-8";

@font-face {
  font-family: "awesome";
  src: url("fonts/fontawesome-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#b4fff5",GradientType=1);
  min-width: 1400px;
  margin: auto;
  height: 100%;
  /* background-color: rgb(191, 191, 191); */
}
body {
  height: 100vh;
}

header {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: -webkit-linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#14b19d",GradientType=1);
  height: 150px;
  width: 100%;
  color: aqua;
}
header .flex_header {
  display: flex;
  justify-content: space-around;
}

h1 {text-align: center;
  margin: 25px;
}
.logos {
  width: 60px;
  
}
.logos img {
   
  width: 100%;
}
.logos img:hover{
   filter: blur(5px); 
  border: 1px solid white;

  transition: 0.3s;
}

nav {
  background-color: aqua;
  height: 25px;
}
nav ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
nav ul li {
  background-color: rgb(133, 133, 181);
  height: 25px;
  width: 75px;
  text-align: center;
  margin: auto;
  border-radius: 15px 0;
  border: 1px solid white;
  transition: 0.3s;
}
nav ul li:hover {
  background-color: #32399a;
  color: white;
}

nav ul li a {
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(67, 21, 39);
  text-decoration: none;
}
nav hr {
  border: 2px solid rgb(108, 162, 224);
}
/* Main au sens large  */


main{
  width: 80%;
  background-color: #32399a82;
  margin: auto;
  min-height: 620px;
}






/* Main Formulaire */

form {
  font-family: "awesome";
  font-size: 1.4em;
  width: 70%;
  margin: auto;
  border-radius: 2%;
}

.form {
  background-color: rgb(43, 43, 79);
  color: aliceblue;
  width: 50%;
  height: 500px;
  margin: 45px auto;
  border-radius: 5%;
}
.form ul {
  padding: 60px 0;
}
.form form ul li {
  display: flex;
  justify-content: space-between;
}

/* fin formulaire */

/* .bg_concrete{
background-image:  src("../img/concrete-texture.png");
} */

/* footer */

footer {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 35px;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#14b19d",GradientType=1);
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
}

/* page position */

.position_full {
  margin: auto;
  width: 60%;
  background-color: rgba(181, 207, 207, 0.527);
  min-height: auto;
}
.block_centre {
  width: 450px;
  height: 150px;
  background-color: blueviolet;
  margin: auto;
}
.block_absolue{
  position: absolute;
  top: 250px;
  left: 250px;
  width: 150px;
  height: 150px;
  background-color: orange;
}

/*-------- MEDIAQUERIES ----------*/

/* @media screen only (max-width: 960px) {

.full{
   width: 960px;
}


}



@media screen only (max-width: 560px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
} */
