@charset "utf-8";

@font-face {
  font-family: "awesome";
  src: url("fonts/fontawesome-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 103, 148, 1) 4%,
    rgba(180, 255, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#b4fff5",GradientType=1);
  min-width: 1400px;
  margin: auto;
  height: 100%;
  /* background-color: rgb(191, 191, 191); */
}
body {
  height: 100vh;
}

header {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: -webkit-linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#14b19d",GradientType=1);
  height: 150px;
  width: 100%;
  color: aqua;
}


/* header  */


header .flex_header {
  display: flex;
  justify-content: space-around;
}




/* ending header */




h1 {text-align: center;
  margin: 25px;
}
.logos {
  width: 60px;
  
}
.logos img {
   
  width: 100%;
}
.logos img:hover{
   filter: blur(5px); 
  border: 1px solid white;

  transition: 0.3s;
}

nav {
  background-color: rgba(136, 224, 224, 0.443);
  height: 61px;
}
nav ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
nav ul li {
  background-color: rgb(133, 133, 181);
  height: 35px;
  width: 100px;
  text-align: center;
  margin: 11px auto;
  border-radius: 13px 0;
  border: 1px solid white;
  transition: 0.3s;
}
nav ul li:hover {
  background-color: #32399a;
 
}

nav ul li a {
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(67, 21, 39);
  text-decoration: none;
}
nav ul li a:hover{

 color: white;
transition: 0.3s;
}




nav hr {
  border: 2px solid rgb(108, 162, 224);
}
/* Main au sens large  */


main{
  width: 70%;
  background-color: #32399a82;
  margin: auto;
  min-height: 620px;
}






/* Main Formulaire */

form {
  font-family: "awesome";
  font-size: 1.4em;
  width: 70%;
  margin: auto;
  border-radius: 2%;
}

.form {
  background-color: rgb(43, 43, 79);
  color: aliceblue;
  width: 50%;
  height: 500px;
  margin: 45px auto;
  border-radius: 5%;
}
.form ul {
  padding: 60px 0;
}
.form form ul li {
  display: flex;
  justify-content: space-between;
}

/* fin formulaire */

/* .bg_concrete{
background-image:  src("../img/concrete-texture.png");
} */

/* footer */

footer {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 35px;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 21, 46, 1) 29%,
    rgba(20, 177, 157, 1) 100%
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#14b19d",GradientType=1);
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
position: sticky; */
}

/* POSITION */

.position_full {
  margin: auto;
  width: 60%;
  background-color: rgba(181, 207, 207, 0.527);
  min-height: auto;
}
.block_centre {
  width: 450px;
  height: 150px;
  background-color: blueviolet;
  margin: auto;
}
.block_absolue{
  position: absolute;
  top: 250px;
  left: 250px;
  width: 150px;
  height: 150px;
  background-color: orange;
}

.carre_relative{
 background-color: #32399a;
 width:  200px;
 height: 200px;
 margin: auto;
}
.petit_carre_relative{
  position: relative;
  background-color: antiquewhite;
  width: 50px;
  height: 50px;
}

/* Pourcentage */

.bloc_percent div{
  color: aliceblue;
  height: 25px;
  margin: 25px 12px;
  background-color: aquamarine;
}
.bloc_percent>.premier_percent{
  width: 30%;
  background-color: #32399a;
}

.bloc_percent>.deuxieme_percent{
    width: 50%;
  background-color: #b12ea4;
}

.bloc_percent>.troisieme_percent{
    width: 100%;
  background-color: #b12e4a;
}

/* Flexbox */

.flex1{
  display: flex;
  justify-content: space-between;
}
.flex2{
  display: flex;
  justify-content: space-around;
}
.flex3{
  display: flex;
  justify-content: space-evenly;
}
.flex1 div{
background-color: beige;
height: 100px;
width: 100px;
}
.flex2 div{
background-color: beige;
height: 100px;
width: 100px;
}
.flex3 div{
background-color: beige;
height: 100px;
width: 100px;
}


/* FIN POSITION */





/* TEXTE */
.texte_full{
  
  margin: 0 25px;
}

/* FIN TEXTE */


/* ----------------------------------------------*/


/* SELECTEUR */


/* FIN SELECTEUR */


/* ----------------------------------------------*/


/* IMAGE */

.bg_image{
  background-image: url(../img/background/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 651px;
  /* margin: auto; */
}
.bg_image div{

 background-color: rgba(240, 248, 255, 0.641);
}

.effet2{
  /* background-color: black;
  height: 200px; */
}


/* FIN IMAGE */



/* ZONING */
.premiere_section{
  border: #b12e4a solid 1px;
  display: flex;
  height: 200px;
  width: 100%;
}
.h1 { 
  border: #b12e4a solid 1px;
  background-color: antiquewhite;
  width: 25%;
}
.h3{ 
  border: #b12e4a solid 1px;
  background-color: antiquewhite;
  width: 25%;
}
.h2{
   border: #b12e4a solid 1px;
  background-color: rgb(189, 72, 200);

  width: 75%;
}

.menu {
  background-color: aquamarine;
  height: 25px;
}


.zones{
  display: flex;
}
.zone_gauche{
  width: 25%;
  background-color: #1746d5;
  height: 100%;
}
.zone_droite{
  width: 100%;
  background-color: rgb(25, 81, 81);
}
.zone_droite>.alt1{
  height: 200px;
  width: 50%;
  background-color: #b12ea4 ;
}
 .alt2{
  display: flex;
 }
 .alt2 div{
  height: 200px;
  width: 200px;

 }
.alt2 div:nth-child(odd){
 
  border: #b12e4a solid 1px;
  /* height: 75px;
  width: 75px;*/
}
.alt2 div:nth-child(even){
 
  border: #2eb142 solid 1px;
  /* height: 75px;
  width: 75px; */
}












.bas{
   background-color: aquamarine;
  height: 35px;
}

/* FIN ZONING */


/* TABLE */

table{
  width: 75%;
  margin: auto;
}
table, th, td, tr {
  
  border:1px solid black;
}

/* FIN TABLE */







/*-------- MEDIAQUERIES ----------*/

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .full{
    width: 100%;
  }
.logos{
  visibility: hidden;


}
.flex_header { 
  height: 150px;
  width: 100%;
}
header img{
  width: 100;
}

h1 {
    width: 25%;
    text-align: center;
}
  nav ul {
    height: 150px;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    width: 25%; /* Adjust the width as needed */
    margin: 10px 0; /* Adjust the margin as needed */
  }
  nav {
    height: auto; /* Adjust the height if necessary */
  }

  main {
    width: 100%;
    margin: auto;
    min-height: 100%;
    
}
 footer {
    position : absolute;
    bottom : 0;
    left : 0;
    right : 0;
}
}
/* fin test */


/* @media screen only (max-width: 560px) {
 .full main{
width: 400px;
margin

 } 
  nav ul{
    background-color: black;
  }
} */
